<div id="scraper" class="content">
    <!--<h1>Scraper</h1>-->

    <!--<p>{{ tagline }}</p>-->

    <!--<p>{{ bears }}</p>-->

    <!--<button ng-click="getBears()">Hol Bären</button>-->


    <!--<button ng-click="scrap()">Scrap</button>-->

    <!--<input type="text" ng-model="bearName" placeholder="Enter a bearname here">-->
    <!--<span>{{ bearName }}</span>-->

    <!--<input type="text" ng-model="bearHobby" placeholder="Enter a bearhobby here">-->
    <!--<span>{{ bearHobby }}</span>-->
    <!--<button ng-click="postBear()">Post bear</button>-->
    <div class="subMenu">
        <div class="menuHead">Stock Setting</div>

        <div class="indices">
            <div class="menuItem" ng-class="{active: $route.current.activetab == 'addastock'}">
                <a href="/scraper/addastock" >add a stock</a>
            </div>
            <div class="menuItem" ng-class="{active: $route.current.activetab == 'scraper'}">
                <a href="/scraper" >Scraper</a>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="formWrap">
            <div class="formHead">
                <h2>Add a Stock</h2>
                <p>Add a Stock to the Database</p>
            </div>
            <form name="addStockForm" ng-submit="submitForm()">
                <div class="formGroup">
                    <label>
                        <span>Stockname</span>
                    </label>
                    <input type="text" name="stockname" class="" ng-model="stock_name">
                </div>
                <div class="formGroup">
                    <label>
                        <span>KPI-Url</span>
                    </label>
                    <input type="text" name="kpiurl" class="" ng-model="stock_kpiurl">
                </div>
                <div class="formGroup">
                    <label>
                        <span>Rates-Url</span>
                    </label>
                    <input type="text" name="ratesurl" class="" ng-model="stock_ratesurl">
                </div>
                <div class="formGroup">
                    <label>
                        <span>Index-Membership</span>
                    </label>
                    <input type="text" name="indexMembership" class="" ng-model="stock_indexMembership">
                </div>
                <button ng-click="postStock()">POST STOCK</button>
            </form>
        </div>
    </div>
</div>