<div id="stocks" class="content">
	<div class="subMenu">
		<div class="menuHead">Stocks per Indices</div>

		<div class="indices">
			<div class="menuItem"><a>ALL</a></div>
			<div class="menuItem"><a>DAX</a></div>
			<div class="menuItem"><a>MDAX</a></div>
			<div class="menuItem"><a>TECDAX</a></div>
			<div class="menuItem"><a>SDAX</a></div>
			<div class="menuItem"><a>DOWJONES</a></div>
			<div class="menuItem"><a>FTSE100</a></div>
		</div>
	</div>

	<div class="main">

		<div class="stock">
			<div class="pointWrap">
				<div class="pointShape buy">
					<div class="pointNumber">12</div>
					<div class="pointLabel">Pkt</div>
				</div>
			</div>
			<div class="bodyWrap">
				<div class="title">Volkswagen ST</div>
				<div class="meta">
					<div class="timeScraped">
						<div class="icon"></div>
						<div class="text">vor 22 Min</div>
					</div>
					<div class="watchlist">
						<div class="icon"></div>
						<div class="text">Watchlist 1</div>
					</div>
				</div>
			</div>
			<div class="optionsWrap">
				<div class="details">
					<div class="icon"></div>
				</div>
			</div>

		</div>

	</div>
</div>