<div id="stocks" class="content">
	<div class="subMenu">
		<div class="menuHead">Stocks per Index</div>

		<div class="indices">
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'all'}">
				<a href="/stocks">ALL</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'dax'}">
				<a href="/stocks/dax">DAX</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'mdax'}">
				<a href="/stocks/mdax">MDAX</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'tecdax'}">
				<a href="/stocks/tecdax">TECDAX</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'sdax'}">
				<a href="/stocks/sdax">SDAX</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'smallcaps_de'}">
				<a href="/stocks/smallcaps_de">SMALLCAPS-DE</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'dowjones'}">
				<a href="/stocks/dowjones">DOWJONES</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'ftse100'}">
				<a href="/stocks/ftse100">FTSE100</a>
			</div>
		</div>
	</div>

	<div class="main">

		<ul class="sorting">
			<li><a href="#" ng-click="sortType = '-kpiScraps[0].sumPoints'; sortReverse = !sortReverse">points</a></li>
			<li><a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">name</a></li>
		</ul>

		<!-- repeat for all stocks in the index-->
		<!-- <div class="stock" ng-repeat="stock in stocks | orderBy: '-kpiScraps[0].sumPoints'"> -->

		<div class="stock" ng-repeat="stock in stocks | orderBy:sortType:sortReverse">

			<div class="stockLayer"></div>
			<div class="pointWrap">
				<div class="pointShape"
					ng-class="{
						'buy': stock.kpiScraps[0].sumPoints > 4,
						'hold': stock.kpiScraps[0].sumPoints <= 4,
						'sell': stock.kpiScraps[0].sumPoints <= 2}"
						>
					<div class="pointNumber">{{stock.kpiScraps[0].sumPoints}}</div>
					<div class="pointLabel">Pkt</div>
				</div>
			</div>
			<div class="bodyWrap">
				<div class="title">{{stock.name}}</div>
				<div class="meta">
					<div class="timeScraped">
						<div class="icon"></div>
						<div class="text">
							<span am-time-ago="stock.kpiScraps[0].timeOfScrap"></span>
						</div>
					</div>
					<div class="watchlist">
						<div class="icon"></div>
						<div class="text"></div>
					</div>
				</div>
			</div>
			<div class="optionsWrap">
				<div class="details">
					<div class="icon"></div>
				</div>
			</div>
		</div>

	</div>
</div>
