<div id="stocks" class="content">
	<div class="subMenu">
		<div class="menuHead">Indexes</div>

		<div class="indices">
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'all'}">
				<a href="/stocks">ALL</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'dax'}">
				<a href="/stocks/dax">DAX</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'mdax'}">
				<a href="/stocks/mdax">MDAX</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'tecdax'}">
				<a href="/stocks/tecdax">TECDAX</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'sdax'}">
				<a href="/stocks/sdax">SDAX</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'smallcaps_de'}">
				<a href="/stocks/smallcaps_de">SMALLCAPS-DE</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'euro-stoxx-600'}">
				<a href="/stocks/euro-stoxx-600">EURO STOXX 600</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'dowjones'}">
				<a href="/stocks/dowjones">DOWJONES</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'nasdaq'}">
				<a href="/stocks/nasdaq">NASDAQ</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'sp-500'}">
				<a href="/stocks/sp-500">s&amp;p 500</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'smi'}">
				<a href="/stocks/smi">smi</a>
			</div>
			<div class="menuItem" ng-class="{active: $route.current.activesubtab == 'atx'}">
				<a href="/stocks/atx">atx</a>
			</div>
		</div>
	</div>

	<div class="list" ng-class="{active: !isOpen(stock)}">

		<ul class="sorting">
			<li><a href="#" ng-click="sortType = '-kpiScraps[0].sumPoints'; sortReverse = !sortReverse">points</a></li>
			<li><a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">name</a></li>
		</ul>


		<!-- repeat for all stocks in the index-->
		<!-- <div class="stock" ng-repeat="stock in stocks | orderBy: '-kpiScraps[0].sumPoints'"> -->
<div class="scrollContainer">
		<div class="stock" ng-repeat="stock in stocks | orderBy:sortType:sortReverse" ng-click="open(stock)" ng-class="{active: isOpen(stock)}" >
			<div class="stockLayer"></div>
			<div class="pointWrap">
				<div class="pointShape"
					ng-class="{
						'buy': stock.kpiScraps[0].sumPoints > 4,
						'hold': stock.kpiScraps[0].sumPoints <= 4,
						'sell': stock.kpiScraps[0].sumPoints <= 2}"
						>
					<div class="pointNumber">{{stock.kpiScraps[0].sumPoints}}</div>
					<div class="pointLabel">Pkt</div>
				</div>
			</div>
			<div class="bodyWrap">
				<div class="title">{{stock.name}}</div>
				<!-- <div class="title">{{stock._id}}</div> -->
				<div class="meta">
					<div class="timeScraped">
						<div class="icon"></div>
						<div class="text">
							<span am-time-ago="stock.kpiScraps[0].timeOfScrap"></span>
						</div>
					</div>
					<div class="watchlist">
						<div class="icon"></div>
						<div class="text"></div>
					</div>
				</div>
			</div>
			<div class="optionsWrap">
				<div class="details">
					<div class="icon"></div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="stockDetailWrap">
		<ng-switch on="anyStockOpen()">
			<div class="stockDetail" ng-switch-when="true">
				<div class="detailHead">
					<div class="title">{{opened.name}}</div>
					<div class="closeBtn" ng-click="close()">X</div>
				</div>
				<div class="kpiList">
					<div class="kpiWrap">
						<div class="kpiTitle">Eigenkapitalrendite</div>
						<div class="kpiValue">{{opened.kpiScraps[0].ekr}}%</div>
						<div class="kpiPoint" ng-class="{
							'positive': opened.kpiScraps[0].ekrPoints == 1,
							'neutral': opened.kpiScraps[0].ekrPoints == 0,
							'negative': opened.kpiScraps[0].ekrPoints == -1}">
								{{opened.kpiScraps[0].ekrPoints}}
						</div>
					</div>
					<div class="kpiWrap">
						<div class="kpiTitle">EBIT-Marge</div>
						<div class="kpiValue">{{opened.kpiScraps[0].ebitMarge}}%</div>
						<div class="kpiPoint" ng-class="{
							'positive': opened.kpiScraps[0].ebitMargePoints == 1,
							'neutral': opened.kpiScraps[0].ebitMargePoints == 0,
							'negative': opened.kpiScraps[0].ebitMargePoints == -1}">
							{{opened.kpiScraps[0].ebitMargePoints}}
						</div>
					</div>
					<div class="kpiWrap">
						<div class="kpiTitle">Eigenkapitalquote</div>
						<div class="kpiValue">{{opened.kpiScraps[0].ekq}}%</div>
						<div class="kpiPoint" ng-class="{
							'positive': opened.kpiScraps[0].ekqPoints == 1,
							'neutral': opened.kpiScraps[0].ekqPoints == 0,
							'negative': opened.kpiScraps[0].ekqPoints == -1}">
							{{opened.kpiScraps[0].ekqPoints}}
						</div>
					</div>
					<div class="kpiWrap">
						<div class="kpiTitle">KGV</div>
						<div class="kpiValue">{{opened.kpiScraps[0].kgvNow}}</div>
						<div class="kpiPoint" ng-class="{
							'positive': opened.kpiScraps[0].kgvNowPoints == 1,
							'neutral': opened.kpiScraps[0].kgvNowPoints == 0,
							'negative': opened.kpiScraps[0].kgvNowPoints == -1}">
							{{opened.kpiScraps[0].kgvNowPoints}}
						</div>
					</div>
					<div class="kpiWrap">
						<div class="kpiTitle">KGV &Oslash; {{opened.kpiScraps[0].kgvYears}} Years</div>
						<div class="kpiValue">{{opened.kpiScraps[0].kgvAvg}}</div>
						<div class="kpiPoint" ng-class="{
							'positive': opened.kpiScraps[0].kgvAvgPoints == 1,
							'neutral': opened.kpiScraps[0].kgvAvgPoints == 0,
							'negative': opened.kpiScraps[0].kgvAvgPoints == -1}">
							{{opened.kpiScraps[0].kgvAvgPoints}}
						</div>
					</div>
					<div class="kpiWrap">
						<div class="kpiTitle">EPS</div>
						<div class="kpiValue">{{opened.kpiScraps[0].eps}}%</div>
						<div class="kpiPoint" ng-class="{
							'positive': opened.kpiScraps[0].epsPoints == 1,
							'neutral': opened.kpiScraps[0].epsPoints == 0,
							'negative': opened.kpiScraps[0].epsPoints == -1}">
							{{opened.kpiScraps[0].epsPoints}}
						</div>
					</div>
					<!-- <div class="kpiWrap">
						<div>sumPoints: {{opened.kpiScraps[0].sumPoints}}</div>
					</div> -->
				</div>
				<div class="stockUrls">
					<div class="urlTitle">KPI-Url</div>
					<div class="url">
						<a target="_blank" href="{{opened.kpiurl}}">{{opened.kpiurl}}</a>
					</div>
				</div>
				<div class="stockUrls">
					<div class="urlTitle">Rates-Url</div>
					<div class="url">
						<a target="_blank" href="{{opened.ratesurl}}">{{opened.ratesurl}}</a>
					</div>
				</div>
				<form id="editStock" name="editStockForm" ng-submit="submitForm()">
	                <div class="formGroup">
	                    <label>
	                        <span>KPI-Url</span>
	                    </label>
	                    <input type="text" name="kpiurl" class="" ng-model="opened.kpiurl">
	                </div>
	                <div class="formGroup">
	                    <label>
	                        <span>Rates-Url</span>
	                    </label>
	                    <input type="text" name="ratesurl" class="" ng-model="opened.ratesurl">
	                </div>
					<div class="formGroup">
	                    <label>
	                        <span>Index-Membership</span>
	                    </label>
	                    <input type="text" name="indexMembership" class="" ng-model="opened.indexMembership">
	                </div>
					<div class="formGroup">
						<label>
							<span>Notation</span>
						</label>
						<input type="text" name="notation" class="" ng-model="opened.notation">
					</div>
	                <button ng-click="editStock(opened)">SAVE STOCK</button>
	            </form>
			</div>
	    </ng-switch>
	</div>
</div>
