@font-face {
    font-family: Brandon-Light;
    src: url("/fonts/Brandon_light.otf") format('opentype');
}

@font-face {
    font-family: Brandon-Medium;
    src: url("/fonts/Brandon_med.otf") format('opentype');
}

@font-face {
    font-family: Brandon-Bold;
    src: url("/fonts/Brandon_bld.otf") format('opentype');
}
@font-face {
    font-family: Gotham-Cnd-Light;
    src: url("/fonts/GothamCondensedLightRegular.otf") format('opentype');
}
@font-face {
    font-family: Gotham-Cnd-Medium;
    src: url("/fonts/GothamCondensedMedium.otf") format('opentype');
}
@font-face {
    font-family: Gotham-Cnd-Bold;
    src: url("/fonts/GothamCondensedBold.otf") format('opentype');
}


* {
    box-sizing: border-box;
}

h1, h2, h3 ,h4 {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-transform: uppercase;
}

input {
    color: #e0e0e0;
    border: 1px solid transparent;
    outline: none;
    padding: 0px 5px;
    height: 32px;
    background: #202124;
    font-family: Brandon-Light;
    font-size: 16px;
}

input:focus, input:focus:hover {
    box-shadow: 0 0 10px 0px rgba(0, 173, 224, 0.5);

}

input:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

button {
    background: #00ADE0;
    color: white;
    border: none;
    height: 32px;
    padding: 0px 10px;
    vertical-align: top;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    transition: all 400ms;
    font-family: Brandon-Bold, Helvetica, sans-serif;
    cursor: pointer;
}

label {
    color: #999;
}

button:hover {
    background: #096991;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
    transition: all 400ms;
}

body {
    padding: 0;
    margin: 0;
    //background: linear-gradient(to right, rgba(36,37,39,1) 0%, rgba(32,33,36,1) 100%);
    background: #212121;
    background: #1a1a1a;
    font-size: 14px;
    color: #e0e0e0;
    font-family: Brandon-Medium, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    width: 100%;
    height: 90px;
    background: #292A2D;
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    /*box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);*/
}

.logo {
    width: 200px;
    height: 44px;
    margin-right: 45px;
    margin-top: 3px;
}

.mainMenu {
    display: flex;
    margin-top: 10px;
}

.mainMenu .menuItem {
    margin-right: 16px;
}

.menuItem a {
    color: #e0e0e0;
    text-decoration: none;
    font-family: Brandon-Bold;
    letter-spacing: 0.05em;
    border-bottom: 2px solid transparent;
    transition: all 400ms;
    cursor: pointer;
}

.menuItem a:hover {
    border-bottom: 2px solid #00ADE0;
    color: white;
    text-shadow: 0px 0px 12px #00ADE0;
    transition: all 400ms;
}

.menuItem.active a {
    color: #00ADE0;
}

.container {
    height: 100vh;
    padding-top: 90px;
}

.view {
    width: 100%;
}

.content {
    padding: 30px 0px;
    display: flex;
    height: calc(100vh - 90px);
}

.subMenu {
    min-width: 180px;
    padding: 0px 20px;
}

.subMenu .menuHead {
    /*font-size: 16px;*/
    /*font-family: Brandon-Light;*/
    /*letter-spacing: 0.1em;*/
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 46px;
}

#stocks.content {
    padding: 0px;
}

.subMenu .menuItem {
    height: 40px;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

#stocks .list {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 320px;
    height: 100%;
}

#stocks .scrollContainer {
    height: calc(100% - 46px);
    overflow: scroll;
}

#stocks .stock {
    /*width: 420px;*/
    min-height: 82px;
    padding: 12px;
    display: flex;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

#stocks .sorting {
    display: flex;
    align-items: center;
    height: 44px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: #202020;
    margin: 2px 0px;
}

#stocks .sorting li:not(:last-child) {
    margin-right: 16px;
    padding-left: 12px;
}

#stocks .sorting li a {
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
}

#stocks .sorting li a:hover {
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #00ADE0;
}

#stocks .sorting li a:active {
    color: #00ADE0;
}

#stocks .stock .stockLayer {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background: #292A2D;
    transition: all 400ms;
}

#stocks .stock.active .stockLayer,
#stocks .stock.active:hover .stockLayer {
    background: #323335;
    transition: all 400ms;
}

#stocks .stock:hover {
    z-index: 1;
}

#stocks .stock:hover .stockLayer {
    left: -12px;
    right: -12px;
    background: #262729;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    transition: all 400ms;
}

#stocks .stock .pointWrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: white;
}

#stocks .stock .pointShape {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#stocks .stock .pointShape.buy {
    background: linear-gradient(to top, rgba(65,147,0,1) 0%, rgba(134,192,25,1) 100%);
}

#stocks .stock .pointShape.hold {
    background: linear-gradient(to top, rgba(239,91,2,1) 0%, rgba(247,152,25,1) 100%);
}

#stocks .stock .pointShape.sell {
    background: linear-gradient(to top, rgba(162,0,7,1) 0%, rgba(206,24,67,1) 100%);
}

#stocks .stock .pointNumber {
    font-family: Gotham-Cnd-Medium;
    font-size: 32px;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 30px;
    margin-top: 5px;
}

#stocks .stock .pointLabel {
    font-family: Gotham-Cnd-Medium;
    font-size: 12px;
    letter-spacing: 0.05em;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 12px;
}

#stocks .stock .bodyWrap {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#stocks .title {
    font-size: 14px;
    text-transform: uppercase;
    transition: all 200ms;
    letter-spacing: 0.05em;
}

#stocks .stock:hover .title {
    color: white;
    text-shadow: 0px 0px 12px #00ADE0;
    transition: all 200ms;
}

#stocks .meta {
    margin-top: 8px;
}

#stocks .timeScraped, #stocks .watchlist {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1em;
    color: #999;
    font-family: Brandon-Medium;
}

#stocks .timeScraped .icon {
    width: 10px;
    height: 10px;
    margin-right: 6px;
    background: url("/img/iconClock.svg") no-repeat;
},

#stocks .watchlist {
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form button {
    margin-top: 20px;
}

.formWrap {
    background: #292A2D;
    width: 600px;
    padding: 16px;
    margin: 0 auto;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
form.scrapingTime {
    margin-top: 20px;
}

form.scrapingTime .scrapRow {
    display: flex;
    flex-direction: row;
}

form.scrapingTime .selectWrap {
    flex: 1 1 1px;
    margin-left: 10px;
}
form.scrapingTime select {
    width: 100%;
}

form.scrapingTime .selectWrap:first-child {
    margin-left: 0px;
}

form.scrapingTime button {
    margin-top: 10px;
}

/* BEGIN StockDetailView */
.stockDetailWrap {
    margin: 46px 20px 0px 20px;
    flex: 1 1 1px;
}

.stockDetail {

}

.stockDetail .detailHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.stockDetail .detailHead .title {
    flex: 1 1 1px;
    background: #292A2D;
    padding: 12px;
    margin-right: 2px;
}

.stockDetail .detailHead .closeBtn {
    background: #292A2D;
    padding: 12px;
}

.stockDetail .kpiList {
    display: flex;
    flex-wrap: wrap;
}

.stockDetail .kpiWrap {
    display: flex;
    flex: 1 1 1px;
    flex-direction: column;
    align-items: center;
    justify-content: : center;
    margin-right: 2px;
    padding: 12px;
    background: #292A2D;
}

.stockDetail .kpiWrap:last-child {
    margin-right: 0;
}

.stockDetail .kpiTitle {
    font-size: 12px;
    line-height: 1em;
    color: #999;
    font-family: Brandon-Medium;
}

.stockDetail .kpiValue {
    font-size: 16px;
    padding: 4px 0;
}

.stockDetail .kpiPoint {
    display: flex;
    align-items: center;
    font-family: Gotham-Cnd-Medium;
    font-size: 28px;
}

.stockDetail .kpiPoint.positive {
    color: #86c019;
}

.stockDetail .kpiPoint.neutral {
    color: #f79819;
}

.stockDetail .kpiPoint.negative {
    color: #ce1843;
}

.stockDetail .stockUrls {
    display: flex;
    font-size: 16px;
    padding: 12px;
    background: #292A2D;
    margin-top: 2px;
}

.stockDetail .stockUrls .urlTitle {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-right: 12px;
    min-width: 50px;
    line-height: 1em;
    color: #999;
    font-family: Brandon-Medium;
}

.stockDetail .stockUrls .url a {
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.stockDetail .stockUrls .url a:hover {
    color: white;
    text-shadow: 0px 0px 12px #00ADE0;
    transition: all 200ms;
}

form#editStock {
    margin-top: 2px;
    padding: 12px;
    background: #292A2D;
}
/* END StockDetailView */
